@model BoxingSite.Models.SingleTrainerViewmodel
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "TrainerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper">

    <!-- One -->
    <section class="main">
        <div class="inner spotlight style1">
            <div class="content">
                <header>
                    <h2>
                        @Html.DisplayFor(model => model.Forename)
                        @Html.DisplayFor(model => model.Surname)
                    </h2> 
                    @if (Model.Available)
                    {<span> -- Available for PT Sessions</span>}
                    else {<span> -- NOT Available for PT Sessions</span>}
                </header>
                <p>
                    @Html.DisplayFor(model => model.Description)

                    @if (User.Identity.IsAuthenticated)
                    {

                        if (User.Identity.GetUserId().Equals(Model.Id) || User.IsInRole("Administrator"))
                        {
                            <br />
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                            @Html.ActionLink("Delete", "DeleteUser", new { id = Model.Id },
                                            new { onclick = "return confirm('Are you sure you wish to delete this Trainer Account?');" })
                        }

                    }
                </p>
            </div>
            <br />


        </div>

        <div class="inner">

            <ul class="icons">
                @if (Model.Instagram != null)
                {
                    <li><a target="_blank" href="@Html.DisplayFor(model => model.Instagram)" class="icon brands fa-instagram fa-2x"><span class="label">Instagram</span></a></li>
                }
                @if (Model.Facebook != null)
                {
                    <li><a target="_blank" href="@Html.DisplayFor(model => model.Facebook)" class="icon brands fab fa-facebook-square fa-2x"><span class="label">Facebook</span></a></li>
                }
                @if (Model.Twitter != null)
                {
                    <li><a target="_blank" href="@Html.DisplayFor(model => model.Twitter)" class="icon brands fa-twitter fa-2x"><span class="label">Twitter</span></a></li>
                }
                @if (Model.LinkedIn != null)
                {
                    <li><a target="_blank" href="@Html.DisplayFor(model => model.LinkedIn)" class="icon brands fab fa-linkedin fa-2x"><span class="label">LinkedIn</span></a></li>
                }
                @if (Model.Email != null)
                {
                    <li class="tooltip">
                        <i class="far fa-envelope fa-2x"></i>
                        <span class="tooltiptext">@Html.DisplayFor(model => model.Email)</span>
                    </li>
                 
                }
            </ul>
        </div>
    </section>

    <!-- Main -->
    <div id="">

        <div class="inner">


            <span class="image align-center">
                <img style="width: 60%; margin: 0 auto;" src=@Html.DisplayFor(model => model.ImageSrc) alt="" />
            </span>



        </div>
    </div>
</div>


