@model BoxingSite.Models.Promotion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountGoing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountGoing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationBuiding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationBuiding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationStreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationStreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationPostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationPostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Promotion")
        </div>
    }
</div>
