@model BoxingSite.Models.Promotion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section id="banner" class="parallax" 
         style="background-image: url('../../images/boxing/attentie-attentie-ig7vN6OkGNE-unsplash.jpg'); min-height: 200px;">
    <div class="inner">
        <header>
            <h1 style="font-size: 1.8em;">
                @Html.DisplayFor(model => model.Name)
            </h1>
            <p class="italic" style="color: white;">
                @String.Format("{0:dddd, dd MMMM yyyy}", Model.PromotionDate)
            </p>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Administrator"))
                    {
                        <p>
                            @Html.ActionLink("Edit", "EditPromotion", new { id = Model.PromotionID })
                            @Html.Raw("&nbsp;&nbsp;")
                            @Html.ActionLink("Delete", "DeletePromotion", new { id = Model.PromotionID },
    new { onclick = "return confirm('Are you sure you wish to delete: " + Model.Name + "? It will no longer be displayed on site. ');" })
                        </p>
                    }
                }


        </header>
    </div>
</section>




<div id="wrapper">

    <div class="">
        @if (Model.RemainingSeats > 0 && Model.PromotionDate > DateTime.Now)
        {
            <h3 class="align-center">
                <a title="EventBrite Link" href="https://www.youtube.com">Purchase Tickets</a>
            </h3>
        } else
        {
            <h3 class="align-center">
                Tickets Unavailable
            </h3>
        }
        <br />




        <div class="inner">
            @if (Model.PromotionDate < DateTime.Now)
            {
                <h2 class="eventEnded">Event Ended! </h2>
            }
            <h2>
                @Html.DisplayFor(model => model.Name)
            </h2>

            <h3 class="subheading">
                <i class="far fa-clock"></i>
                @String.Format("{0:dddd, dd MMMM yyyy}", Model.PromotionDate)

            </h3>
            <p>
                @Html.DisplayFor(model => model.AboutEvent)
            </p>

            <hr />


            <div class="inner row">

                <div class="col-6-xlarge">
                    <b><i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(model => model.LocationBuiding)</b>
                    <br />
                    <div class="italic" style="font-size: 0.9em;">
                        @Html.DisplayFor(model => model.LocationStreetAddress),
                        @Html.DisplayFor(model => model.LocationPostCode)
                        <br />
                        @Html.DisplayFor(model => model.LocationCity)
                    </div>
                </div>

                <div class="col-6-xlarge">
                    <b><i class="fab fa-elementor"></i> Seats Available</b>
                    <br />
                    <div class="italic" style="font-size: 0.9em;">
                        Attending: @Html.DisplayFor(model => model.AmountGoing)
                        <br />
                        Remaining: @Html.DisplayFor(model => model.RemainingSeats)
                    </div>
                </div>

            </div>
            <br />



            @if (Model.ShowMap)
            {
                <span class="image main" id="map" style="width: 100%; height: 300px; background-color: grey;"></span>
                <script>
                    // Initialize and add the map
                    function initMap() {
                        // The location of gym
                        var gym = { lat: @Model.MapLat, lng: @Model.MapLong };
                        // The map, centered at glasgow
                        var map = new google.maps.Map(
                            document.getElementById('map'), { zoom: 12, center: gym });
                        // The marker, positioned at glasgow
                        var marker = new google.maps.Marker({ position: gym, map: map });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=API-KEY&callback=initMap">
                </script>
            }



            <br />
            <br />
            <h3 class="align-center">
                <a href="../../Promotion/Promotions">Back to Promotions</a>
            </h3>

        </div>

    </div>
</div>
