@model IEnumerable<BoxingSite.Models.Promotion>


@using BoxingSite.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/mainPhantom.css" rel="stylesheet" />


<a class="icon fixedButton" onclick="subMenuDisplay()"><i class="far fa-list-alt fa-2x"></i></a>
<script>
    function subMenuDisplay() {
        var i, filterContent;
        filterContent = document.getElementsByClassName("fixedFilterMenu");


        for (i = 0; i < filterContent.length; i++) {
         
            if (filterContent[i].style.display == 'block') {
                filterContent[i].style.display = 'none';
            } else if (filterContent[i].style.display == 'none') {
                filterContent[i].style.display = 'block';
            }

        }
  
}

</script>
<div class="fixedFilterMenu" style="display: none;">
    <ul class="icons">
        <li><h2>Filter</h2></li>
        <li><a class="fixedFilterMenuItem">All</a></li>
        <li><a class="fixedFilterMenuItem">Fights</a></li>
        <li><a class="fixedFilterMenuItem">Promoter</a></li>
        <li><a class="fixedFilterMenuItem">Banana</a></li>
        <li><a class="fixedFilterMenuItem">This Month</a></li>
        <li><a class="fixedFilterMenuItem">This Year</a></li>
        <li><a class="fixedFilterMenuItem">Grape</a></li>
        <li><a class="fixedFilterMenuItem">Light-Weight</a></li>
        <li><a class="fixedFilterMenuItem">Heavy-Weight</a></li>
    </ul>
</div>




<div id="wrapper">

    <div id="">

        <div class="inner">
            @if (!User.Identity.IsAuthenticated)
            {
                if (!User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Create Promotion", "CreatePromotion", "Promotion")
                    <br /><br />
                }
            }

            <div id="">
                <div class="inner">
                    <div class="page-header">
                        <h1>Upcoming Events</h1>
                    </div>
                    <div>
                        @foreach (Promotion promotion in Model)
                        {
                            <div class="promotion">
                                <a class="promotionLink" href="../../Promotion/Details/@promotion.PromotionID">
                                    <div class="promotionData">

                                        <div class="promotionDate align-center">
                                            <div class="promoDateDay">
                                                <h3>
                                                    @String.Format("{0:dd}", promotion.PromotionDate)
                                                </h3>
                                            </div>
                                            @*<hr />*@
                                            <div class="promoDateMonth">
                                                <h3>
                                                    @String.Format("{0:MMM}", promotion.PromotionDate)
                                                    <br />
                                                    @String.Format("{0:yyyy}", promotion.PromotionDate)
                                                </h3>
                                            </div>
                                        </div>
                                        

                                        <div class="promotionInfo">
                                            <h2 class="promoInfoHeader">
                                                @Html.DisplayFor(modelItem => promotion.Name)
                                            </h2>
                                            <p class="promoInfoBody">
                                                <span class="promotionDateV2">
                                                    <b>@String.Format("{0:dddd, dd, MMM yyyy}", promotion.PromotionDate)</b>
                                                </span>
                                                <i>
                                                    @string.Format("{0:00}:{1:00}", promotion.PromotionStartTime.Hours, promotion.PromotionStartTime.Minutes)
                                                    @Html.Raw("-")
                                                    @string.Format("{0:00}:{1:00}", promotion.PromotionEndTime.Hours, promotion.PromotionEndTime.Minutes)
                                                </i>
                                                <br />
                                                @Html.DisplayFor(modelItem => promotion.LocationBuiding)@Html.Raw(", ")
                                                @Html.DisplayFor(modelItem => promotion.LocationStreetAddress)@Html.Raw(", ")
                                                @Html.DisplayFor(modelItem => promotion.LocationPostCode)
                                                <br />
                                                @Html.DisplayFor(modelItem => promotion.LocationCity)
                                            </p>
                                        </div>


                                    </div>
                                </a>
                                <div class="promotionTickets align-center">
                                    <h3>
                                        Tickets @Html.Raw("@")
                                    </h3>
                                    <a href="https://www.youtube.com">
                                        EventBrite
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>



            <br />
            <br />
            <br />
            <div id="">
                <div class="page-header">
                    <h1>Past Events</h1>
                </div>
                <div>

                    <section class="tiles">
                        @foreach (Promotion promotion in ViewBag.OldPromotions)
                        {
                            Random rand = new Random(DateTime.Now.Millisecond);
                            int styleNum = rand.Next(1, 7);
                            <article class="style3">

                                <a href="../../Promotion/Details/@promotion.PromotionID">

                                    <h2 class="boxerName">
                                        @Html.DisplayFor(modelItem => promotion.Name)
                                        @*An Evening With Andrew Ard*@

                                    </h2>
                                    <div class="italic">
                                        @String.Format("{0:dddd, dd MMMM yyyy}", promotion.PromotionDate)
                                        <br />
                                        @string.Format("{0:00}:{1:00}", promotion.PromotionStartTime.Hours, promotion.PromotionStartTime.Minutes)
                                        @Html.Raw("-")
                                        @string.Format("{0:00}:{1:00}", promotion.PromotionEndTime.Hours, promotion.PromotionEndTime.Minutes)
                                    </div>
                                    <span class="">
                                        @*content*@
                                        <b style="color: white !important;">
                                            @Html.DisplayFor(modelItem => promotion.LocationBuiding)
                                            @Html.Raw(", ")
                                            @Html.DisplayFor(modelItem => promotion.LocationCity)
                                        </b>
                                    </span>

                                </a>
                                <span class="image" style="background-color: black;">
                                    <img src="~/images/boxing/wade-austin-ellis-gpOz1RcIrPE-unsplash.jpg" />
                                </span>
                            </article>
                        }

                    </section>

                </div>
            </div>
        </div>
    </div>
</div>





@*<div>
        @foreach (Promotion promotion in ViewBag.OldPromotions)
        {

            <a class="promotionRelative" href="../../Promotion/Details/@promotion.PromotionID">
                <img class="promotionImage" src="~/images/boxing/wade-austin-ellis-gpOz1RcIrPE-unsplash.jpg" alt="Dude">
                <div class="promotionAbsolute">
                    <h3 class="promotionData">
                        @Html.DisplayFor(modelItem => promotion.Name)
                    </h3>
                    <p class="promotionContent">
                        @String.Format("{0:dddd, dd MMMM yyyy}", promotion.PromotionDate)
                        @Html.Raw(" * ")

                        @string.Format("{0:00}:{1:00}", promotion.PromotionStartTime.Hours, promotion.PromotionStartTime.Minutes)
                        @Html.Raw("-")
                        @string.Format("{0:00}:{1:00}", promotion.PromotionEndTime.Hours, promotion.PromotionEndTime.Minutes)
                        <br />
                        @Html.DisplayFor(modelItem => promotion.LocationBuiding)
                        @Html.Raw(", ")
                        @Html.DisplayFor(modelItem => promotion.LocationCity)
                    </p>
                </div>
            </a>


        }

    </div>*@