@model IEnumerable<BoxingSite.Models.Equipment>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "King Boxing Equipment";
}

<div id="wrapper">
    <!-- One -->
    <section id="one" class="main sectionBgColor">
        <div class="inner spotlight style1">
            <div class="content align-center">
                <header class="major">
                    <h2>King Boxing Equipment</h2>
                </header>
                <p>
                    Below is an update representation of all the equipment available for use at the gym.
                </p>
            </div>
        </div>
    </section>
    <div id="payg">
        <div class="inner">

            <h2>Gym Equipment</h2>

            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Create Equipment", "CreateEquipment", "Equipment")

            }

            <table>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    @if (User.IsInRole("Administrator"))
                    {
                        <th>Manage</th>
                    }
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <td>
                                <a href="/Equipment/EditEquipment/@item.EquipmentID">Edit</a>
                                @Html.ActionLink("Delete", "DeleteEquipment", new { id = item.EquipmentID },
                                               new { onclick = "return confirm('Are you sure you wish to delete this Equipment? It will no longer be displayed on site. ');" })

                            </td>
                        }
                    </tr>

                }

            </table>

            <h3 class="align-center">
                <a href="../../Schedule/Schedule">View Timetable</a>
            </h3>
        </div>
    </div>


    @*<div class="parallax align-center" style="height: 220px; background-image: url('../../images/boxing/chris-kendall-sJ6az6-T1u8-unsplash.jpg')">
        <p>*This is an exhaustive list of all the equipment at our gym - @DateTime.Now.ToString("dd MM, yyyy")
        <br/>Availability of Equiptment may be restricted if a class is on - for more inforation contact: 07490 123456</p>
    </div>*@



</div>




