@model IEnumerable<BoxingSite.Models.Equipment>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "King Boxing Equipment";
}

<div id="wrapper">
    <!-- One -->
    <section id="one" class="main sectionBgColor">
        <div class="inner spotlight style1">
            <div class="content align-center">
                <header class="major">
                    <h2>King Boxing Equipment</h2>
                </header>
                <p>
                    Below is an update representation of all the equipment available for use at the gym.
                </p>
            </div>
        </div>
    </section>
    <div id="payg">
        <div class="inner">
            <h2>Gym Equipment</h2>
            <table>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Company Name</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.Description</td>
                        <td>@item.Supplier.Name</td>
                    </tr>
                }

            </table>
        </div>
    </div>







    <!-- Main
        <div id="payg">
            <div class="inner">
                <h2>Gym Equipment </h2>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                    </tr>
                    <tr>
                        <td>Boxing Ring</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Skipping Rope</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Boxing Gloves</td>
                        <td>26 Pairs</td>
                    </tr>
                    <tr>
                        <td>Speed Bags</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Double End Bag</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Hanging Heavy Bag</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Angled Heavy Bag</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Teardrop Punching Bag</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Mats</td>
                        <td>Covers Floor</td>
                    </tr>
                    <tr>
                        <td>Boxing Gloves</td>
                        <td>26 Pairs</td>
                    </tr>
                    <tr>
                        <td>Skipping Rope</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Boxing Gloves</td>
                        <td>26 Pairs</td>
                    </tr>
                    <tr>
                        <td>Skipping Rope</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Boxing Gloves</td>
                        <td>26 Pairs</td>
                    </tr>
                </table>
            </div>
    </div>-->


    <div class="sectionBgColor align-center ">
        <p>*This is an exhaustive list of all the equipment at our gym - @DateTime.Now.ToString("dd MM, yyyy")</p>
        <a href="#payg" class="button btn-default large">Schedule</a>
        <br />
    </div>


    @*<div class="parallax align-center " style="height: 220px; background-image: url('../../images/boxing/dylan-nolte-ITDjGji__6Y-unsplash.jpg')">
            <a href="#payg" class="button btn-default large">Schedule</a>

        </div>*@

    @*<section class="sectionBgColor">
        </section>*@

    <div id="membership">
        <div class="inner">
            <h2>Membership</h2>
            <table>
                <tr>
                    <td>Adults (17+)</td>
                    <td>£60 per month</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td>£36 per month</td>
                </tr>
                <tr>
                    <td>Kids (5-16)</td>
                    <td>£36 per month</td>
                </tr>
            </table>
        </div>
    </div>
</div>




