@model IEnumerable<BoxingSite.Models.BoxingClass>



<div id="wrapper">

    <!-- One -->
    <section class="main">
        <div class="inner">

            <p>
                @Html.ActionLink("Create New", "CreateBoxingClass")
            </p>

            <table class="table">
                <tr>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditBoxingClass", new { id = item.BoxingClassID }) |
                            @Html.ActionLink("Delete", "DeleteBoxingClass", new { id = item.BoxingClassID },
                             new { onclick = "return confirm('Are you sure you wish to delete this Class? " +
                                          "It will DELETE ALL gym session associated with it!');"
                             })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>
</div>