@model BoxingSite.Models.ScheduleListsViewmodel
@using BoxingSite.Models


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var classBoard = "classBoard";
}

<div id="wrapper">

    <!-- One -->
    <section id="one" class="main sectionBgColor">
        <div class="inner spotlight style1">
            <div class="content align-center">
                <header class="major">
                    <h2>Schedule</h2>
                </header>
                <p>
                    The only boxing gym in Glasgow open 7 days.The only boxing gym in Glasgow open 7 days.
                    The only boxing gym in Glasgow open 7 days.
                </p>
            </div>
        </div>
    </section>



    <div>
        <div class="inner">
            <div class="text-center stack">

                @if (User.Identity.IsAuthenticated)
                {

                    if (User.IsInRole("Administrator"))
                    {

                        @Html.ActionLink("Create Session", "CreateSession", "Schedule") 
                        <span>&nbsp &nbsp</span>
                        @Html.ActionLink("Manage Classes", "Classes", "Schedule")
                        <hr />

                    }

                }

            </div>




            <div class="schedule">


                <div class="schedulColumn">
                    <h2 class="schedulColumnTitle">.MON.</h2>
                    <ul>
                        @foreach (var item in Model.Monday.ToList())
                        {
                            switch (item.ClassStatus)
                            {
                                case ClassStatus.FULLYBOOKED:
                                    classBoard = "classBoardBooked";
                                    break;
                                case ClassStatus.CANCELLED:
                                    classBoard = "classBoardCancelled";
                                    break;
                                default:
                                    classBoard = "classBoard";
                                    break;
                            }
                            <li class="@classBoard">
                                <article class="style3">
                                    <div class="classStatus"></div>
                                    <div class="className">@item.BoxingClass.Title</div>
                                    <div class="classTime">@item.StartTime-@item.EndTime</div>
                                    <a href="/Trainer/TrainerDetails/@item.Trainer.Id" target="_blank">
                                        <div class="classDuration">@item.Trainer.Forename @item.Trainer.Surname </div>
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit", "EditSession", new { Id = item.ScheduleID })
                                        <span>&nbsp &nbsp</span>
                                        @Html.ActionLink("Delete", "DeleteSession", new { id = item.ScheduleID },
                                          new { onclick = "return confirm('Are you sure you wish to delete this Gym Session? It will no longer be displayed on site. ');" })

                                    }
                                </article>
                            </li>
                        }
                    </ul>
                </div>




                <div class="schedulColumn">
                    <h2 class="schedulColumnTitle">.TUES.</h2>
                    <ul>
                        @foreach (var item in Model.Tuesday.ToList())
                        {
                            switch (item.ClassStatus)
                            {
                                case ClassStatus.FULLYBOOKED:
                                    classBoard = "classBoardBooked";
                                    break;
                                case ClassStatus.CANCELLED:
                                    classBoard = "classBoardCancelled";
                                    break;
                                default:
                                    classBoard = "classBoard";
                                    break;
                            }
                            <li class="@classBoard">
                                <article class="style3">
                                    <div class="classStatus"></div>
                                    <div class="className">@item.BoxingClass.Title</div>
                                    <div class="classTime">@item.StartTime-@item.EndTime</div>
                                    <a href="/Trainer/TrainerDetails/@item.Trainer.Id" target="_blank">
                                        <div class="classDuration">@item.Trainer.Forename @item.Trainer.Surname </div>
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit", "EditSession", new { Id = item.ScheduleID })
                                        <span>&nbsp &nbsp</span>
                                        @Html.ActionLink("Delete", "DeleteSession", new { id = item.ScheduleID },
                                                                                  new { onclick = "return confirm('Are you sure you wish to delete this Gym Session? It will no longer be displayed on site. ');" })

                                    }
                                </article>
                            </li>
                        }

                    </ul>
                </div>

                <div class="schedulColumn">
                    <h2 class="schedulColumnTitle">.WED.</h2>
                    <ul>
                        @foreach (var item in Model.Wednesday.ToList())
                        {
                            switch (item.ClassStatus)
                            {
                                case ClassStatus.FULLYBOOKED:
                                    classBoard = "classBoardBooked";
                                    break;
                                case ClassStatus.CANCELLED:
                                    classBoard = "classBoardCancelled";
                                    break;
                                default:
                                    classBoard = "classBoard";
                                    break;
                            }
                            <li class="@classBoard">
                                <article class="style3">
                                    <div class="classStatus"></div>
                                    <div class="className">@item.BoxingClass.Title</div>
                                    <div class="classTime">@item.StartTime-@item.EndTime</div>
                                    <a href="/Trainer/TrainerDetails/@item.Trainer.Id" target="_blank">
                                        <div class="classDuration">@item.Trainer.Forename @item.Trainer.Surname </div>
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit", "EditSession", new { Id = item.ScheduleID })
                                        <span>&nbsp &nbsp</span>
                                        @Html.ActionLink("Delete", "DeleteSession", new { id = item.ScheduleID },
                                                                                  new { onclick = "return confirm('Are you sure you wish to delete this Gym Session? It will no longer be displayed on site. ');" })

                                    }
                                </article>
                            </li>
                        }
                    </ul>
                </div>

                <div class="schedulColumn">
                    <h2 class="schedulColumnTitle">.THURS.</h2>
                    <ul>
                        @foreach (var item in Model.Thursday.ToList())
                        {
                            switch (item.ClassStatus)
                            {
                                case ClassStatus.FULLYBOOKED:
                                    classBoard = "classBoardBooked";
                                    break;
                                case ClassStatus.CANCELLED:
                                    classBoard = "classBoardCancelled";
                                    break;
                                default:
                                    classBoard = "classBoard";
                                    break;
                            }

                            <li class="@classBoard">
                                <article class="style3">
                                    <div class="classStatus"></div>
                                    <div class="className">@item.BoxingClass.Title</div>
                                    <div class="classTime">@item.StartTime-@item.EndTime</div>
                                    <a href="/Trainer/TrainerDetails/@item.Trainer.Id" target="_blank">
                                        <div class="classDuration">@item.Trainer.Forename @item.Trainer.Surname </div>
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit", "EditSession", new { Id = item.ScheduleID })
                                        <span>&nbsp &nbsp</span>
                                        @Html.ActionLink("Delete", "DeleteSession", new { id = item.ScheduleID },
                                                                                  new { onclick = "return confirm('Are you sure you wish to delete this Gym Session? It will no longer be displayed on site. ');" })

                                    }
                                </article>
                            </li>
                        }
                    </ul>
                </div>

                <div class="schedulColumn">
                    <h2 class="schedulColumnTitle">.FRI.</h2>
                    <ul>
                        @foreach (var item in Model.Friday.ToList())
                        {
                            switch (item.ClassStatus)
                            {
                                case ClassStatus.FULLYBOOKED:
                                    classBoard = "classBoardBooked";
                                    break;
                                case ClassStatus.CANCELLED:
                                    classBoard = "classBoardCancelled";
                                    break;
                                default:
                                    classBoard = "classBoard";
                                    break;
                            }
                            <li class="@classBoard">
                                <article class="style3">
                                    <div class="classStatus"></div>
                                    <div class="className">@item.BoxingClass.Title</div>
                                    <div class="classTime">@item.StartTime-@item.EndTime</div>
                                    <a href="/Trainer/TrainerDetails/@item.Trainer.Id" target="_blank">
                                        <div class="classDuration">@item.Trainer.Forename @item.Trainer.Surname </div>
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit", "EditSession", new { Id = item.ScheduleID })
                                        <span>&nbsp &nbsp</span>
                                        @Html.ActionLink("Delete", "DeleteSession", new { id = item.ScheduleID },
                                                                                  new { onclick = "return confirm('Are you sure you wish to delete this Gym Session? It will no longer be displayed on site. ');" })

                                    }
                                </article>
                            </li>
                        }

                    </ul>
                </div>

                <div class="schedulColumn">
                    <h2 class="schedulColumnTitle">.SAT.</h2>
                    <ul>
                        @foreach (var item in Model.Saturday.ToList())
                        {
                            switch (item.ClassStatus)
                            {
                                case ClassStatus.FULLYBOOKED:
                                    classBoard = "classBoardBooked";
                                    break;
                                case ClassStatus.CANCELLED:
                                    classBoard = "classBoardCancelled";
                                    break;
                                default:
                                    classBoard = "classBoard";
                                    break;
                            }
                            <li class="@classBoard">
                                <article class="style3">
                                    <div class="classStatus"></div>
                                    <a href="/Schedule/ClassScheduleDetails/@item.ScheduleID" target="_blank">
                                        <div class="className">@item.BoxingClass.Title</div>
                                    </a>
                                    <div class="classTime">@item.StartTime-@item.EndTime</div>
                                    <a href="/Trainer/TrainerDetails/@item.Trainer.Id" target="_blank">
                                        <div class="classDuration">@item.Trainer.Forename @item.Trainer.Surname </div>
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit", "EditSession", new { Id = item.ScheduleID })
                                        <span>&nbsp</span>
                                        @Html.ActionLink("Delete", "DeleteSession", new { id = item.ScheduleID },
                                                                                  new { onclick = "return confirm('Are you sure you wish to delete this Gym Session? It will no longer be displayed on site. ');" })

                                    }
                                </article>
                            </li>
                        }
                    </ul>
                </div>

                <div class="schedulColumn">
                    <h2 class="schedulColumnTitle">.SUN.</h2>
                    <ul>
                        @foreach (var item in Model.Sunday.ToList())
                        {
                            switch (item.ClassStatus)
                            {
                                case ClassStatus.FULLYBOOKED:
                                    classBoard = "classBoardBooked";
                                    break;
                                case ClassStatus.CANCELLED:
                                    classBoard = "classBoardCancelled";
                                    break;
                                default:
                                    classBoard = "classBoard";
                                    break;
                            }
                            <li class="@classBoard">
                                <article class="style3">
                                    <div class="classStatus"></div>
                                    <div class="className">@item.BoxingClass.Title</div>
                                    <div class="classTime">@item.StartTime-@item.EndTime</div>
                                    @*<div class="classDuration">60 mins</div>*@
                                    <a href="/Trainer/TrainerDetails/@item.Trainer.Id" target="_blank">
                                        <div class="classDuration">@item.Trainer.Forename @item.Trainer.Surname </div>
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit", "EditSession", new { Id = item.ScheduleID })
                                        @Html.ActionLink("Delete", "DeleteSession", new { id = item.ScheduleID },
                                          new { onclick = "return confirm('Are you sure you wish to delete this Gym Session? It will no longer be displayed on site. ');" })

                                    }
                                </article>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>

    </div>

    <div class="parallax align-center" style="height: 220px; background-image: url('../../images/boxing/chris-kendall-sJ6az6-T1u8-unsplash.jpg')">
        <a href="../../Price/Pricing" class="button btn-default large">King Boxing Pricing</a>
    </div>

</div>
