@model BoxingSite.Models.ScheduleListsViewmodel
@using BoxingSite.Models


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var classBoard = "classBoard";
}

<div id="wrapper">

    <!-- One -->
    <section id="one" class="main sectionBgColor">
        <div class="inner spotlight style1">
            <div class="content align-center">
                <header class="major">
                    <h2>Schedule</h2>
                </header>
                <p>
                    The only boxing gym in Glasgow open 7 days.The only boxing gym in Glasgow open 7 days.
                    The only boxing gym in Glasgow open 7 days.
                </p>
            </div>
        </div>
    </section>



    <div>
        <div class="inner">
            <div class="text-center stack">

                @if (User.Identity.IsAuthenticated)
                {

                    if (User.IsInRole("Administrator"))
                    {

                        @Html.ActionLink("Create Session", "CreateSession", "Schedule") 
                        <span>&nbsp; &nbsp;</span>
                        @Html.ActionLink("Manage Classes", "Classes", "Schedule")
                        <hr />

                    }

                }

            </div>


            <div class="scheduleKey">
                <div class="statusKey classBoardAvailable">Available</div>
                <div class="statusKey statusKeyFullyBooked">
                    Fully Booked
                </div>
                <div class="statusKey statusKeyCancelled">
                    Cancelled
                </div>
            </div>
                

            <div class="schedule">


                @for (int i = 0; i <= 6; i++)
                {
                    string[] days = { "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY" };
                    var day = days[i];
                    var listOfClasses = Model.Monday;

                    switch (day)
                    {
                        case "MONDAY":
                            listOfClasses = Model.Monday;
                            break;
                        case "TUESDAY":
                            listOfClasses = Model.Tuesday;
                            break;
                        case "WEDNESDAY":
                            listOfClasses = Model.Wednesday;
                            break;
                        case "THURSDAY":
                            listOfClasses = Model.Thursday;
                            break;
                        case "FRIDAY":
                            listOfClasses = Model.Friday;
                            break;
                        case "SATURDAY":
                            listOfClasses = Model.Saturday;
                            break;
                        default:
                            listOfClasses = Model.Sunday;
                            break;
                    }
                <div class="schedulColumn">
                    <h2 class="schedulColumnTitle">@days[i]</h2>
                    <ul>
                        @foreach (var item in listOfClasses)
                        {
                            switch (item.ClassStatus)
                            {
                                case ClassStatus.FULLYBOOKED:
                                    classBoard = "classBoardBooked";
                                    break;
                                case ClassStatus.CANCELLED:
                                    classBoard = "classBoardCancelled";
                                    break;
                                default:
                                    classBoard = "classBoardAvailable";
                                    break;
                            }


                            <li class="classBoard @classBoard">
                                <article class="">
                                    <div class="classStatus"></div>
                                    <a href="/Schedule/ClassScheduleDetails/@item.ScheduleID">
                                        <div class="className">@item.BoxingClass.Title</div>
                                        <div class="classTime">
                                            @string.Format("{0:00}:{1:00}", item.StartTime.Hours, item.StartTime.Minutes)
                                            &nbsp;-&nbsp;
                                            @string.Format("{0:00}:{1:00}", item.EndTime.Hours, item.EndTime.Minutes)

                                        </div>
                                        <div class="classInstructor">@item.Trainer.Forename @item.Trainer.Surname </div>
                                    </a>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Edit", "EditSession", new { Id = item.ScheduleID })
                                        <span>&nbsp &nbsp</span>
                                        @Html.ActionLink("Delete", "DeleteSession", new { id = item.ScheduleID },
                                            new { onclick = "return confirm('Are you sure you wish to delete this Gym Session? It will no longer be displayed on site. ');" })

                                    }
                                </article>
                            </li>
                        }
                    </ul>
                    
                </div>
                }


            </div>
        </div>

    </div>

    <div class="parallax align-center" style="height: 220px; background-image: url('../../images/boxing/chris-kendall-sJ6az6-T1u8-unsplash.jpg')">
        <a href="../../Price/Pricing" class="button btn-default large">King Boxing Pricing</a>
    </div>

</div>
