    <!-- Header -->
<header id="header">
    <a href="../../Home/Index" class="logo">
        <span id="logoNavigation">
            King Boxing <span>Promotions</span>

        </span>
        <div id="textNavigation">
            King Boxing <span>Promotions</span>
        </div>

    </a>
    @if (User.IsInRole("Administrator"))
    {
                <a href="#adminMenu" onclick="openAdmin()"><i class="fas fa-tools fa-lg"></i></a>
     
        @Html.Partial("_AdminNavigation")



    }

    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
</header>
@if (User.IsInRole("Administrator"))
{
}
<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Promotions", "Promotions", "Promotion")</li>
        <li>@Html.ActionLink("Timetable", "Schedule", "Schedule")</li>
        <li>@Html.ActionLink("Professional Boxers", "Boxers", "Boxer")</li>
        <li>@Html.ActionLink("Prices", "Pricing", "Prices")</li>
        <li>@Html.ActionLink("About", "About", "About")</li>
        @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @*@Html.Partial("_LoginPartial")*@

</nav>

