    <!-- Header -->
<header id="header">
    <a href="../../Home/Index" class="logo">Community <span>Fitness</span></a>
    @if (User.IsInRole("Administrator"))
    {
        @Html.Partial("_AdminNavigation")
        <nav>
            <ul>
                <li><a href="#adminMenu" onclick="openAdmin()">ADMIN</a></li>
            </ul>
        </nav>



    }

    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Trainers", "Trainers", "Trainer")</li>
        <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
        <li>@Html.ActionLink("Prices", "Pricing", "Prices")</li>
        <li>@Html.ActionLink("Gym Equipment", "Equipment", "Equipment")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")

</nav>

