<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Boxing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/assets/css/main.css" rel="stylesheet" />
    @*<link href="~/Content/css/boxingSite.css" rel="stylesheet" />*@

</head>
<body>

    @*@Html.Partial("~/Views/Shared/_HeaderSection.cshtml")*@

    <div class="is-preload">
        <div id="page-wrapper">
            @Html.Partial("~/Views/Shared/_HeaderSection.cshtml")
            @RenderBody()
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

    @*<script src="~/Scripts/navigation/util.js"></script>
            <script src="~/Scripts/navigation/breakpoints.min.js"></script>
            <script src="~/Scripts/navigation/browser.min.js"></script>
            <script src="~/Scripts/navigation/jquery.min.js"></script>
        <script src="~/Scripts/navigation/main.js"></script>*@


</body>
</html>
